@{
    ViewData["Title"] = "Download";
}

<h1 class="mt-4">Download</h1>

<div class="container mt-4">
    <form asp-action="CheckDownload" id="downloadForm" method="post" class="mb-4">
        <div class="form-group">
            <label for="memberType">Select Member Type:</label>
            <select id="memberType" name="memberType" class="form-control">
                <option value="nonmember">Non-member</option>
                <option value="member">Member</option>
            </select>
        </div>
        <br /><br />
        <button type="submit" class="btn btn-primary">Check Download</button>
    </form>

    <div id="result" class="alert mt-3" role="alert"></div>
</div>

